@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.center {
  width: 15rem;
}

.nav__style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-top: 3px solid rgb(255, 156, 0);
  background-color: antiquewhite;
  margin-top: 0;
  color: rgb(37, 150, 190);
}

main {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 0.85rem;
}

.focaccia {
  width: 45rem;
  border-radius: 25px;
  margin: auto;
}

figcaption {
  font-weight: 200;
  padding-top: 0.5rem;
}

#related__rcp {
  width: 700px;
  margin: 0 auto;
  border-left: 1px solid rgb(255, 156, 0);
  padding-left: 8px;
}

.related__recipes h4 {
  margin-bottom: 0;
  margin-top: 30px;
  color: brown;
}
.related__recipes p {
  margin-top: 0;
}

#recipes {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

hr {
  color: aqua;
}

.h4__recipes {
  margin-bottom: 10px;
}
